<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${isNew} ? 'Создание пользователя' : 'Редактирование пользователя'">Форма</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.3/css/bootstrap.min.css}"/>
    <script th:src="@{/webjars/jquery/3.7.1/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/5.3.3/js/bootstrap.bundle.min.js}"></script>
</head>
<body class="container mt-4">
<h2 th:text="${isNew} ? 'Создание пользователя' : 'Редактирование пользователя'">Форма</h2>

<form th:action="${isNew} ? '/v1/admin/users' : '/v1/admin/users/' + ${userId}" th:object="${user}" method="post"
      class="mt-3">
    <input type="hidden" name="_method" value="put" th:if="${!isNew}"/>
    <div class="mb-3">
        <label for="name" class="form-label">Имя:</label>
        <input type="text" th:field="*{name}" id="name" class="form-control"
               th:classappend="${#fields.hasErrors('name')} ? 'is-invalid' : ''"/>
        <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
    </div>
    <div class="mb-3">
        <label for="email" class="form-label">Электронная почта:</label>
        <input type="email" th:field="*{email}" id="email" class="form-control"
               th:classappend="${#fields.hasErrors('email')} ? 'is-invalid' : ''"/>
        <div th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
    </div>
    <div class="mb-3">
        <label for="age" class="form-label">Возраст:</label>
        <input type="number" th:field="*{age}" id="age" class="form-control"
               th:classappend="${#fields.hasErrors('age')} ? 'is-invalid' : ''"/>
        <div th:if="${#fields.hasErrors('age')}" th:errors="*{age}"></div>
    </div>
    <div class="mb-3">
        <label for="username" class="form-label">Username:</label>
        <input type="text" th:field="*{username}" id="username" class="form-control"
               th:classappend="${#fields.hasErrors('username')} ? 'is-invalid' : ''"/>
        <div th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></div>
    </div>
    <div class="mb-3" th:if="${isNew}">
        <label for="password" class="form-label">Пароль:</label>
        <input type="password" th:field="*{password}" id="password" class="form-control"
               th:classappend="${#fields.hasErrors('password')} ? 'is-invalid' : ''"/>
        <div th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>
    </div>
    <div class="mb-3">
        <label for="roles" class="form-label">Роли</label><br>
        <div th:each="role : ${allRoles}">
            <div th:if="${role.role == 'ROLE_ADMIN'}">
                <input id="roles" type="checkbox" th:field="*{roleIds}" th:value="${role.id}"/>
                <span th:text="${role.role}"></span><br/>
            </div>
        </div>
    </div>
    <button type="submit" class="btn" th:classappend="${isNew} ? 'btn-success' : 'btn-warning'"
            th:text="${isNew} ? 'Сохранить' : 'Обновить'">Сохранить
    </button>
    <a th:href="@{/v1/admin/users}" class="btn btn-secondary">Назад</a>
</form>
</body>
</html>
